// menu button that becomes a fixed bar on the left of the screen
#header {
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 1;


    #menu-wrapper {
        position: absolute;
        display: flex;
        margin: 10px 0 20px 10px;
        padding: 5px 10px 7px 10px;
        border-radius: 5px;
        border: 2px solid rgb(250, 250, 250);
        background-color: white;
        width: fit-content;
        z-index: 3;

        >svg {
            fill: rgb(100, 100, 100);

            @media (min-width: $large) {
                display: none;
            }

        }

        @media (prefers-color-scheme: dark) {
            background-color: rgb(100, 100, 100);

            >svg {
                fill: white;
            }
        }

        @media (min-width: $large) {
            display: none;
        }


    }

    &-banner {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
        box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.1);
        background-color: white;

        &-title {
            transform: translate(-50%, 0);
        }

        &-add {
            position: absolute;
            top: 10px;
            right: 10px;

            >button {
                font-size: 40px;
                color: white;
                background-color: #926fb1;
                padding: 10px 10px 8px 10px;
                border-radius: 5px;
                border: 2px solid rgb(250, 250, 250);
                line-height: 1.2rem;
            }
        }

        @media (prefers-color-scheme: dark) {
            background-color: rgb(100, 100, 100);
            box-shadow: 0 0 25px 0px rgba(255, 255, 255, 0.1);

            &-title {
                color: white;
            }

            &-add {
                >button {
                    color: white;
                }
            }
        }

        @media (min-width: $large) {
            padding-left: 200px;

            &-title {
                margin: 0 auto;
                transform: none;
            }

        }

        @media (min-width: $extra-extra-large) {
            width: 1200px;
            position: relative;
            padding: 0;

            &-title {
                margin: 0 auto;
                transform: none;
            }

        }

    }


    #nav {

        position: absolute;
        top: 0;
        left: -200px;
        /* Move the nav off to the left to hide it initially */
        width: 200px;
        height: 100vh;
        background-color: white;
        z-index: 2;
        transition: left 0.3s ease;
        /* Add transition for left property */
        border-right: 3px solid rgb(210, 210, 210);
        border-radius: 0 20px 20px 0;
        box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.1);

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-initial {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 1px;
            border-radius: 0 20px 0 0;
            height: 25vh;
            width: 100%;
            background-color: white;

            >h1 {
                font-size: 30px;

                @media (min-height: 300px) {
                    font-size: 40px;
                }

                @media (min-height: 450px) {
                    font-size: 50px;
                }

            }

            &:hover {
                background-color: rgb(100, 100, 100);

                >h1 {
                    color: white;
                }
            }

            @media (prefers-color-scheme: dark) {
                background-color: rgb(100, 100, 100);

                >h1 {
                    color: white;
                }

                &:hover {
                    background-color: white;

                    >h1 {
                        color: rgb(100, 100, 100);
                        background-color: white;
                    }
                }

            }
        }

        &-bar {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .nav-bar-item {
                font-weight: 600;
                cursor: pointer;

                >a {
                    display: block;
                    padding: 5px 15px;

                    background-color: white;

                    &:hover {
                        color: white;
                        background-color: rgb(100, 100, 100);

                    }

                    @media (prefers-color-scheme: dark) {
                        color: white;
                        background-color: rgb(100, 100, 100);

                        &:hover {
                            color: rgb(100, 100, 100);
                            background-color: white;
                        }
                    }

                    @media (min-height: 300px) {
                        padding: 10px 15px;
                    }

                    @media (min-height: 450px) {
                        padding: 15px 40px 15px 15px;
                    }

                    @media (min-height: 600px) {
                        padding: 20px 40px 20px 20px;
                    }

                    @media (min-height: 700px) {
                        padding: 30px 40px 30px 30px;
                    }

                }






            }



        }



        #linkedin-button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 25vh;
            width: 100%;
            border-radius: 0 0 20px 0;
            background-color: white;
            position: relative;


            #contact-us {
                position: absolute;
                top: 5px;
                width: 100%;
                text-align: center;
                background-color: transparent;

                @media(prefers-color-scheme: dark) {
                    color: white;

                }
            }

            >svg {
                height: 20px;
                width: 20px;
                fill: rgb(100, 100, 100);

                @media (min-height: 300px) {
                    height: 30px;
                    width: 30px;
                }

                @media (min-height: 450px) {
                    height: 40px;
                    width: 40px;
                }

                @media (min-height: 600px) {
                    height: 50px;
                    width: 50px;
                }

                @media (min-height: 700px) {
                    height: 60px;
                    width: 60px;
                }


            }

            #linkedin-hover-text {
                height: 100%;
                width: 100%;
                color: white;
                background-color: transparent;
                display: none;
                flex-direction: column;
                justify-content: center;
                align-items: center;

            }


            &:hover {
                background-color: rgb(100, 100, 100);

                >svg {
                    display: none;
                }

                >#linkedin-hover-text {
                    display: flex;
                }
            }

            @media (prefers-color-scheme: dark) {
                background-color: rgb(100, 100, 100);

                >svg {
                    fill: white;
                }

                &:hover {
                    background-color: white;

                    >svg {
                        fill: rgb(100, 100, 100);
                        background-color: white;
                    }
                }
            }

        }


        @media (min-width: $large) {
            left: 0;
        }

        @media (prefers-color-scheme: dark) {
            background-color: rgb(100, 100, 100);
            border-right: 3px solid rgb(210, 210, 210);
        }

    }

    @media (prefers-color-scheme: dark) {
        background-color: transparent;
    }

    @media (min-width: $extra-extra-large) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }



}